<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Imports</h1>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Title</th>
      <th>File</th>
      <th>Created count</th>
      <th>Failed count</th>
      <th>Created at</th>
      <th>Started at</th>
      <th>Status</th>
      <th>Completed at</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
      <% @imports.each do |import| %>
        <tr>
          <td><%= import.title %></td>
          <td><%= import.file %></td>
          <td><%= import.created_count %></td>
          <td><%= import.failed_count %></td>
          <td><%= import.created_at %></td>
          <td><%= import.started_at %></td>
          <td><%= import.status %></td>
          <td><%= import.completed_at %></td>
          <td><%= link_to 'Show', import_path(import) %></td>
          <td><%= link_to 'Edit', edit_import_path(import) %></td>
          <td><%= link_to 'Destroy', import_path(import), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Import', new_import_path, class: 'btn btn-success' %>
</div>
